# Intro to IF statements

### Logic conditions and if statements

In [1]:
cars ='audi bmw subaru toyota'.split()
for car in cars:
    if car == 'bmw': #this is the logical condition 
        print(car.upper())
    else:
        print(car.title())

Audi
BMW
Subaru
Toyota

#### Logic Conditions

In [2]:
car ='Audi'
car=='audi'

False

In [3]:
car.lower() == 'audi'

True

In [4]:
x=10
if x != 5:
    print(f'{x} is other than 5')
else:
    print(f'{x} is 5')

10 is other than 5

### Using 'and' 'or' to combine conditions

In [5]:
age = 20
age > 21 and age < 30

False

In [6]:
age < 21 or age > 50

True

### Use chained inequalities

In [7]:
age = 30
21 <= age <= 50

True

### 'in'

In [8]:
fruits='apple banana orange strawberry'.split()
fruit='banana'
fruit in fruits

True

In [9]:
stuff ="chemistry"
tail='try'
tail in stuff

True

### if-else

In [10]:
ages = int(input('Enter your age'))
if ages >= 18:
    print('You are of voting age')
    print('Please register')
else:
    print('You are too young to vote')
    print('dont come back')

Enter your age44
You are of voting age
Please register

### if-elif-else

In [11]:
age = int(input('Enter your age.  '))
if age <=4:
    price=0
elif age <=18:
    price=25
elif age <=65:
    price=50
else:
    price=30
print(f'Your ticket price is {price}.')

Enter your age.  4
Your ticket price is 0.

### Objects can be evaluated as true or false 
* 0 is false, non-zero is true
* none if false
* empty list is false, non-empty true
* empty string is false, non-empty true

In [12]:
shopping_cart=[]
price=101
if price < 100:
    shopping_cart.append(price)
if shopping_cart:
    print('Please checkout.')
else:
    print('Thanks for visiting.')

Thanks for visiting.

## More on User Inputs

In [13]:
print('What is your name?')
name = input()
print(f'Hello {name}, go away.')

What is your name?
4
Hello 4, go away.

In [14]:
name = input('What is your name?\n')
print(f'Hello {name}, go away.')

What is your name?
4
Hello 4, go away.

#### Get interger input

In [15]:
age = int(input('What is your age?\n'))
if age < 18:
    print('You are to young to party.')
else:
    print('Lets party')

What is your age?
4
You are to young to party.

#### Get float input

In [16]:
price = 2.55
weight =float(input('How much you need in lbs?\n'))
total_price=price*weight
#print(f'This sells for ${total_price}.')
print(f'This sells for ${round(total_price,2)}.')

How much you need in lbs?
4
This sells for $10.2.

## Get multiple inputs at once

In [18]:
year, month, day =eval(input('Year, Month, Day ='))
print(f'{month}-{day}-{year}')

Year, Month, Day =2002, 4, 23
4-23-2002

In [19]:
x, y = eval(input('x,y='))
print(f'{x}-{y}={x-y}')

x,y=55,44
55-44=11

## Example of leap year
* Leap year if divisible by 4
* Except also divisible by 100
* Unless also divisible by 400

In [24]:
# from general to special

year = int(input('Enter a year.\n'))
if year%4==0:
    if year%100==0:
        if year%400==0:
            result='a leap year'
        else:
                result='not a leap year'
    else:
        result='a leap year'
else:
    result = 'not a leap year'
print(f'{year} is {result}')

Enter a year.
1996
1996 is a leap year

In [28]:
year = int(input('year = \n'))
if year%400==0:
    result='a leap year'
elif year%100==0:
    result='not a leap year'
elif year%4==0:
    result='a leap year'
else:
    result ='not a leap year'
print(f'{year} is {result}.')

year =
2344
2344 is a leap year.

In [35]:
#using independant if blocks
year = int(input('Year = \n'))
result = 'not a leap year'
if year%4==0:
    result='a leap year'
if year%100==0:
    result='not a leap year'
if year%400==0:
    result='a leap year'
print(f'{year} is {result}.')

Year =
2345
2345 is not a leap year.

In [37]:
year = int(input('Year = \n'))
if year%400==0 or (year%4==0 and year%100!=0):
    print(f'{year} is a leap year.')
else:
    print(f'{year} is not a leap year.')

Year =
2024
2024 is a leap year.