## Data Structures - Containers
* List
* Tuple
* Set
* Dictionary

### Lists

In [5]:
fruits=['apple','orange','pear','strawberry']
print(fruits)

['apple', 'orange', 'pear', 'strawberry']

In [6]:
type(fruits)

list

In [10]:
fruits[3]

'strawberry'

In [12]:
print(fruits[2].title())

Pear

In [14]:
print(fruits[-1].upper())

STRAWBERRY

### Members of a list can be mixed data types

In [19]:
record = [1,'apples',5.6,'pounds']
rec_num=record[0]
fruit=record[1]
quantity=record[2]
units=record[3]
statement=f'Record #{rec_num}: We have {quantity} {units} of {fruit}.'
print(statement)

Record #1: We have 5.6 pounds of apples.

### Inventory of Fruits

|record number|fruit|quantity|units|
|:-|-:|:-:|-:|
|1|apple|5.6|pounds|
|2|banana|10|bundles|
|3|strawberry|6|boxes|

In [21]:
records=[[1,'apple',5.6,'pounds'],
         [2,'banana',10,'bundles'],
         [3,'strawberry',6,'boxes']]
record = records[2]
rec_num=record[0]
fruit=record[1]
quantity=record[2]
units=record[3]
statement=f'Record #{rec_num}: We have {quantity} {units} of {fruit}.'
print(statement)

Record #3: We have 6 boxes of strawberry.

### Add element at end of list

In [22]:
letters=['a','b','c']
letters.append('d')
letters

['a', 'b', 'c', 'd']

In [23]:
letters=[]
letters.append('a')
letters.append('b')
letters

['a', 'b']

### Removing an element from list

In [24]:
numbers=[1,2,4,8,16]
del numbers[-2]
numbers

[1, 2, 4, 16]

In [31]:
x=[1.5]
del x[0]
x.append(3)
x

[3]

### Use pop to remove and grab an item

In [35]:
tools=['brush','pen','pencil','eraser']
last_tool=tools.pop()
print('Last tool is', last_tool)
print('Tools left', tools)

first_tool=tools.pop(0)
print('First tool is', first_tool)
print('Tools left', tools)

Last tool is eraser
Tools left ['brush', 'pen', 'pencil']
First tool is brush
Tools left ['pen', 'pencil']

### Remove by value

In [41]:
numbers=[1,2,3,3,3,4,4,2,4,4]
print(numbers)
numbers.remove(2)
print(numbers)
numbers.remove(2)
print(numbers)

[1, 2, 3, 3, 3, 4, 4, 2, 4, 4]
[1, 3, 3, 3, 4, 4, 2, 4, 4]
[1, 3, 3, 3, 4, 4, 4, 4]

### Modify an element of a list - List is mutable

In [1]:
fruits = ['apple','pear','orange']
fruits[0]='pineapple'
fruits

['pineapple', 'pear', 'orange']

### String cannot modify in place - String is not mutable

In [2]:
chem='chemistry'
chem[0]='C'
chem

TypeError: 'str' object does not support item assignment

**If really want to change a string, you have to make a new string**

In [6]:
chem='chemistry'
chem= 'C' + chem[1:]
chem

'Chemistry'

### Sort a list in place

In [9]:
elements = ['fire','air','water','earth']
elements.sort()
print(elements)
elements.sort(reverse=True)
print(elements)

['air', 'earth', 'fire', 'water']
['water', 'fire', 'earth', 'air']

### Generate a sorted copy of a list

In [11]:
elements = ['fire','air','water','earth']
elements_sorted=sorted(elements)
elements_revsorted=sorted(elements, reverse=True)
print('Original:', elements)
print('Sorted:',elements_sorted)
print('Reverese Sorted:',elements_revsorted)

Original: ['fire', 'air', 'water', 'earth']
Sorted: ['air', 'earth', 'fire', 'water']
Reverese Sorted: ['water', 'fire', 'earth', 'air']

### Reverse a list in place

In [12]:
elements = ['fire','air','water','earth']
elements.reverse()
print(elements)

['earth', 'water', 'air', 'fire']

### Get the length of a list

In [15]:
values = [2.1,4,55,5.4,3,6]
n = len(values)
n

6

### Looping through a list - for loop

In [32]:
members=['Dave','Jane','carrol']
print('List of members:')
for member in members:
    print(f'\t{member}')
print('done')

List of members:
	Dave
	Jane
	carrol
done

**Get average and std deviation**

In [2]:
numbers=[3.5,6.1,7.9,12.5,13.3]
sum_=0
sum_sq=0
for number in numbers:
    sum_ += number #same as sum_=sum_+number
    sum_sq +=number*number
n = len(numbers)
avg = sum_/n
avg_sq=sum_sq/n
dev= (avg_sq-avg*avg)**0.5
print(f'{avg} +/- {dev}')

8.66 +/- 3.7425125250291416

### Range() function

In [40]:
for n in range(11):
    print(n, n*n,n+n)

0 0 0
1 1 2
2 4 4
3 9 6
4 16 8
5 25 10
6 36 12
7 49 14
8 64 16
9 81 18
10 100 20

In [37]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
list(range(3,11))

[3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
list(range(3,11,2))

[3, 5, 7, 9]

### Cast string into list

In [1]:
chem ="Chemistry"
chem_list= list(chem)
chem_list

['C', 'h', 'e', 'm', 'i', 's', 't', 'r', 'y']

In [4]:
list('Chemistry')

['C', 'h', 'e', 'm', 'i', 's', 't', 'r', 'y']

### Loop through list by index

In [6]:
chem=list('Chemistry')
for i in range(len(chem)):
    print(i, chem[i])

0 C
1 h
2 e
3 m
4 i
5 s
6 t
7 r
8 y

In [11]:
chem = list('Chemistry')
i=0
for c in chem:
    print(i,c)
    i+=1

0 C
1 h
2 e
3 m
4 i
5 s
6 t
7 r
8 y

### 'Advanced' way: Use enumerate function

In [12]:
chem=list('Chemistry')
for (i,c) in enumerate(chem):
    print(i,c)

0 C
1 h
2 e
3 m
4 i
5 s
6 t
7 r
8 y

In [13]:
list(enumerate(chem))

[(0, 'C'),
 (1, 'h'),
 (2, 'e'),
 (3, 'm'),
 (4, 'i'),
 (5, 's'),
 (6, 't'),
 (7, 'r'),
 (8, 'y')]

In [14]:
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

### List comprehension

In [15]:
square=[]
for i in range(11):
    square.append(i*i)
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
squares=[i*i for i in range(11)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Assign a new variable to a list, both pointing to the same list

In [21]:
x=[1,2,3]
y=x
y[0]=5
print('y=',y)
print('x=',x)
#changing the y won't give an independent list, must assign a copy of it

y= [5, 2, 3]
x= [5, 2, 3]

**Making a copy of list to modify**

In [22]:
x=[1,2,3]
y=x.copy()
y[0]=5
print('y=',y)
print('x=',x)

y= [5, 2, 3]
x= [1, 2, 3]

### Split string into list of string parts

In [11]:
players='mike eli charlie martina'.split()
for player in players:
    print(player)

mike
eli
charlie
martina

### Split a TAB delimited line read from a file

In [8]:
line='mike\teli\tcharlie\tjohn\n'
players=line.split()
players

['mike', 'eli', 'charlie', 'john']

### Split comma delimited line from file

In [19]:
line='mike,jay,ron,frank\n'
players=line.split(',')
for player in players:
    print(player)
print('done')

mike
jay
ron
frank

done

In [20]:
line='mike,jay,ron,frank\n'
players=line.strip().split(',')
for player in players:
    print(player)
print('done')

mike
jay
ron
frank
done

In [22]:
#animals of chinese year

year=int(input('Enter a year:'))
i = year%12
animals='monkey rooster duck pig rat ox'
animals +='tiger rabbit snake horse sheep'
chinesezodiacs=animals.split()
print(f'The year of {year} is {chinesezodiacs[i]} year.')

Enter a year:2000
The year of 2000 is horse year.

### Assemble string parts into a string

In [25]:
players='mike eli charlie martina'.split()
csv_line=','.join(players)+ '\n'
print(csv_line)

mike,eli,charlie,martina

In [26]:
chem=list('Chemistry')
chem[0]='c'
chem_str=''.join(chem)
print(chem)
print(chem_str)

['c', 'h', 'e', 'm', 'i', 's', 't', 'r', 'y']
chemistry

### Slicing list

In [28]:
players='eli john mike paul berry tom'.split()
print(players)
players[0:3]

['eli', 'john', 'mike', 'paul', 'berry', 'tom']

['eli', 'john', 'mike']

In [29]:
pl = players[0:3]
pl[0]='mary'
print(pl)
print(players)

['mary', 'john', 'mike']
['eli', 'john', 'mike', 'paul', 'berry', 'tom']

In [30]:
short_list=players[:]  #same as players.copy()
short_list.remove('john')
short_list.remove('tom')
print(short_list)

['eli', 'mike', 'paul', 'berry']

### Tuple, a list that cannont change in place-immutable list

In [31]:
point = (1.5,3.6)
x=point[0]
y=point[1]
print(x,y)

1.5 3.6

In [34]:
point=(1,2)
point[0] = 3
point

TypeError: 'tuple' object does not support item assignment

In [35]:
point=[1,2]
point[0] = 3
point

[3, 2]

### Set - collection with no duplicate items

In [37]:
numbers={1,1,3,3,4,4,4,2,2,4,8,99,77,7}
numbers

{1, 2, 3, 4, 7, 8, 77, 99}

In [38]:
numbers=[1,1,2,2,3,3,4,4]
numbers=list(set(numbers))
numbers

[1, 2, 3, 4]

In [7]:
def createList(r1,r2):
    if (r1==r2):
        return r1
    else:
        res=[]
        while(r1<r2+1):
            res.append(r1)
            r1+=1
        return res

print(createList(r1,r2))

TypeError: can only concatenate tuple (not "int") to tuple